div.gallery {
   margin: 5px 15% 10px 15%;
  border: 1px solid #ccc;
  float: left;
  width: 70%;
  align-content: center;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.container {
    background-color: lightslategray;
    width: 99%;
    margin: auto;
    height: 99%;
    border: 10px solid lightslategray;
    }
body {background-color: lightslategray;}

#headerimage {
    width: 99%;
    height: auto;
    margin-bottom: -20px;
    border: 10px solid lightslategray;
}
 
.topmenu li {
    list-style: none;
    display: block;
    float: left;
    padding: 10px;  
    border: 5px solid lightslategray;
    border-collapse: separate;
    width: 18%;
    margin: auto;
    text-align: center;
    background-color: black;
    
}

.topmenu ul li a {
    text-decoration: none;
    color:black;
    font-size: 95%;
    font-family: sans-serif;
    color: lightslategray;
    }
.topmenu ul li a:hover {
    text-decoration: underline;
    text-decoration-color: lightslategray;
}

#column1 {
    width: 32%;
    padding: 10px 5px;
    float: left;
}

#column2 {
    width: 32%;
    padding: 10px 5px;
    float: left;
}

#column3 {
    width: 32%;
    padding: 10px 5px;
    float: left;
    }

#maincontent {
    margin: auto;
    text-align: center;
    align-content: center;
    padding: 75px;
}

@media screen and max-width:900px) {

#headerimage {
    width: 85%;
    margin-right: 30px;
}
.topmenu li {
    float: none;
    width: 30%;
}

#footer {
    display: none;
}
}

@media screen and (max-width:620px) {
    topmenu li {
        width: 99%;
        float: none;
    }
}
    
	
@media screen and (max-width:500px) {
    topmenu li {
        width: 99%;
        float: none;
    }
}